{"profile":{"name":"Fahim","location":"Dhaka","profile_image":"http://i63.tinypic.com/mc445i.jpg","cover_image":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFwG5A-0PBLkg_e_GZbN9f2GmVz0_kzb2LsLzg1gMQbO9e2_DEfw","about":"Sent me SBD or steem to get a double amount in upvote in any problem SBD or steem is refundable ","website":"http://i64.tinypic.com/nb7vbk.jpg","signature":"fahim"},"config":{"min_bid_sbd":0.001,"min_bid_steem":0.001,"bid_window":1.2,"comments":true,"posts_comment":true,"refunds":true,"accepts_steem":true,"funding_url":"","rules_url":"","tags":"","api_url":"","max_post_age":"3.5","min_post_age":"32","is_disabled":false,"fill_limit":"","max_roi":""}}
